
<section class="row">
    <div class="col offset-l2 l3 s12 fs18 color2 bold">
        <p class="center-align">Envoyez vos fichiers en toute simplicité</p>
        <p class="textjustify">Grâce à uSend vous avez la possibilité de transférer tous vos fichiers partout dans le monde.</p>
        <p class="textjustify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum vestibulum magna eu convallis. Praesent tempor
        nisi at consectetur fringilla. Donec quis gravida ex. Nulla interdum leo velit, non cursus mi pulvinar a. Pellentesque vulputate
        pellentesque augue, ut maximus ligula ornare Nulla interdum leo velit, Nulla interdum leo velit, Nulla interdum leo velit,
        Nulla interdum leo velit, Nulla interdum leo velit, Nulla interdum leo velit, Nulla interdum leo velit, at.</p>

    </div>
    <div class="row">
        <div class="col offset-l2 l3 s12">
            <div class="row center-align card-panel login-box bgcolor2">
                <div class="row">
                    <input id="file" type="file" accept=".xlsx,.xls,image/*,audio/*,video/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.psd" class="fs12 color4">
                    <h4 class="fs18 color4">Ajouter un fichier</h4>
            </div>
                <form>
                    <p class="fs18 color4">Envoyer à</p>
                    <input type="email" name="destinataire" placeholder="Entrez l'e-mail du destinataire">
                    <p class="fs18 color4">Votre adresse</p>
                    <input type="email" name="author" placeholder="Entrez votre adresse e-mail">
                    <p class="fs18 color4">Votre message</p>
                    <input type="text" name="mess1" placeholder="Entrez votre message">
                    <input type="submit" name="submit" value="Envoyer">
                </form>
            </div>
        </div>
    </div>
</section>