<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/usend/">
       
        <link rel="stylesheet" href="./assets/css/materialize.min.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}uSend{% endblock %}</title>
    </head>
    
    <body class="bgcolor1">
        <header>
            <div class="center-align">
                <img src="./img/logo.png" alt="logo" class="logo mtop30p">
                <div class="row">
                    <hr class="col offset-l4 l4 offset-s2 s8">
                </div>
            </div>
        </header>
        
        <main>
            {% block content %}{% endblock %}
            {% include 'Layout/main.html.twig' %}
        </main>
        
        {% include 'Layout/footer.html.twig' %}   

    </body>
</html>