
<section class="row bold mtop30p">
    <div class="col offset-l2 l3 offset-s1 s10 color2">
        <p class="center-align fs20">Envoyez vos fichiers en toute simplicité</p>
        <hr class="col offset-l3 l6 offset-s2 s8">
        <div class="col offset-l1 l10">
        <p class="textjustify fs18">Grâce à uSend vous avez la possibilité de transférer tous vos fichiers partout dans le monde.</p>
        <p class="textjustify fs18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum vestibulum magna eu convallis. Praesent tempor
        nisi at consectetur fringilla. Donec quis gravida ex. Nulla interdum leo velit, non cursus mi pulvinar a. Pellentesque vulputate
        pellentesque augue, ut maximus ligula ornare.</p>
    </div>

    </div>
    <div class="row">
            

        <div class="col offset-l2 l3 offset-s1 s10">
            <p class="fs20 color2 bold center-align">Ajouter un fichier</p>
            <hr class="col offset-l3 l6 offset-s2 s8">

            <div class="row card-panel login-box bgcolor2 mtop50p">
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <input id="file" type="file" name="fileToUpload" class="fs12 color4">
                    </div>
                    <p class="fs18 color4">Envoyer à</p>
                    <input type="email" name="mail_dest" placeholder="Entrez l'e-mail du destinataire" class="color1">
                    <p class="fs18 color4">Votre adresse</p>
                    <input type="email" name="mail_user" placeholder="Entrez votre adresse e-mail" class="color1">
                    <p class="fs18 color4">Votre message</p>
                    <input type="text" name="message" placeholder="Entrez votre message" class="color1">
                    <input type="submit" name="submit" value="Envoyer" >
                </form>
            </div>
        </div>
    </div>
</section>