body{font-size:62.5%;}

/* ------------- Fonts ------------- */
        .fs24{font-size:2.4rem;}
        .fs20{font-size:2rem;}



/* ------------- Couleurs ------------- */
        .color1{color:#222222;} /* noir */
        .color2{color:#fff;} /* blanc */
        .color3{color:#FF8939;} /* orange */


        .bgcolor1{background-color:#222222;} /* noir */
        .bgcolor2{background-color: #353535 !important;} /* gris foncé */
        .bgcolor3{background-color: #FF8939;} /* orange */
        .bgnocolor{background:none !important;}

/* ------------- Génériques ------------- */

        .flex{display: flex;}
        .jcbetween{justify-content: space-between;}
        .jcaround{justify-content: space-around;}
        .jccenter{justify-content: center;}
        .absolute{position:absolute;}


/* ------------- Margins & Paddings ------------- */
        .mbot30p{margin-bottom:30px;}
        .padding15p{padding:15px;}


/* ------------- Heights ------------- */

        .h300p{height:300px;}


/* ------------- Widths ------------- */

        .w300p{width:300px;}



/* ------------- Spécifiques ------------- */

        .z999{left:-9999px;}

        .img_resize{max-width: 200px;
        max-height: 200px;}

        .meme_resize{max-width: 300px;
                max-height: 300px;}

        input{color:white;}
        nav{box-shadow: none;}
